<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main - {{APP_NAME}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <main>
        <section id="section-1">  
            <div class="landing">
                <h1>{% for e in APP_NAME %}<span style="animation-delay: {{ range(0, 10) | random / 10 }}s">{{e}}</span>{% endfor %}</h1>
                <h2>
                    <span class="slides">
                        <span>slow</span>
                        <span>unreliable</span>
                        <span>insecure</span>
                        <span>inefficient</span>
                        <span>unpowerful</span>
                    </span>
                </h2>
           </div>
        </section>
          
        <section id="section-2">  
            <video autoplay muted loop id="myVideo" alt="Background Video">
                <source src="https://player.vimeo.com/external/368740653.hd.mp4?s=3f043e541a47ce09a3efa1d355552666b457b238" type="video/mp4">
            </video>
            <div class="content">
                <h1>What is {{APP_NAME}}?</h1>
                <h2>{{APP_NAME}} is a slow and secure proxy for online calendars. With {{APP_NAME}} it's possible to customise online calendars where only have read access.</h2>
                <!-- <h1>Why {{APP_NAME}}?</h1>
                <h2>If you know any better solution notify me and I'll try it.</h2> -->
            </div>
        </section>
        
        <section id="section-3">  
            <div class="content">
                <h1>How does {{APP_NAME}} work?</h1>
                <h2>Every time a calendar app makes a request, our servers request the calendar from the original location. After this we perform the specified transformations on the contents of the calender. So after all you get a cleaner, better and customised calendar.</h2>
            </div>
        </section>
        
        <section id="section-4">
            <img id="bg-img" alt="Background Image" src="https://images.pexels.com/photos/2047905/pexels-photo-2047905.jpeg"></img>
            <div class="content">
                <h1>Visit {{APP_NAME}} on <a class="github-link" href="{{APP_URL}}">GitHub</a></h1>
                <a href="{{APP_URL}}" class="github-link"><svg xmlns="http://www.w3.org/2000/svg" width="20vw" viewBox="0 0 24 24"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg></a>
            </div>
        </section>
    </main>
</body>
</html>